---
name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        vips-version:
          - 8.12.1
        python-version:
          - 3.11.0a3
          - 3.10.1
          - 3.9.9
          - 3.8.12
          - 3.7.12
    steps:
      - uses: jungwinter/split@v2
        id: i
        with:
          msg: ${{ matrix.python-version }}
          separator: .
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push 3.10
        if: matrix.python-version == '310'
        id: docker_build_latest
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          build-args: |
            PYTHON_VERSION=${{ matrix.python-version }}
            VIPS_VERSION=${{ matrix.vips-version }}
          tags: |
            alpine-pyvips:latest
            alpine-pyvips:latest-${{ matrix.vips-version }}
            alpine-pyvips:${{ matrix.python-version }}-${{ matrix.vips-version }}
            alpine-pyvips:${{ steps.i.outputs._0 }}.${{ steps.i.outputs._1 }}-${{
              matrix.vips-version }}
      - name: Build and push other versions
        if: matrix.python-version != '310'
        id: docker_build_others
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            PYTHON_VERSION=${{ matrix.python-version }}
            VIPS_VERSION=${{ matrix.vips-version }}
          push: true
          tags: |-
            alpine-pyvips:${{ matrix.python-version }}-${{ matrix.vips-version }}
            alpine-pyvips:${{ steps.i.outputs._0 }}.${{ steps.i.outputs._1 }}-${{
              matrix.vips-version }}
