---
name: build
on: [push, pull_request]

env:
  LATEST_VERSION: 3.10.1

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        vips-version:
          - 8.12.1
        python-version:
          - 3.11.0a4
          - 3.10.1
          - 3.9.9
          - 3.8.12
          - 3.7.12
    steps:
      - uses: actions/checkout@v2
      - uses: jungwinter/split@v2
        id: i
        with:
          msg: ${{ matrix.python-version }}
          separator: .
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push latest
        if: ${{ matrix.pythin-version == env.LATEST_VERSION }}
        id: docker_build_latest
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          build-args: |
            PYTHON_VERSION=${{ matrix.python-version }}
            VIPS_VERSION=${{ matrix.vips-version }}
          tags: |
            thumbororg/alpine-pyvips:latest
            thumbororg/alpine-pyvips:latest-${{ matrix.vips-version }}
            thumbororg/alpine-pyvips:${{ matrix.python-version }}-${{ matrix.vips-version }}
            thumbororg/alpine-pyvips:${{ steps.i.outputs._0 }}.${{ steps.i.outputs._1 }}-${{
              matrix.vips-version }}
      - name: Build and push other versions
        if: ${{ matrix.pythin-version != env.LATEST_VERSION }}
        id: docker_build_others
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            PYTHON_VERSION=${{ matrix.python-version }}
            VIPS_VERSION=${{ matrix.vips-version }}
          push: true
          tags: |-
            thumbororg/alpine-pyvips:${{ matrix.python-version }}-${{ matrix.vips-version }}
            thumbororg/alpine-pyvips:${{ steps.i.outputs._0 }}.${{ steps.i.outputs._1 }}-${{
              matrix.vips-version }}
